<div id="<%= dom_id fragrance %>">
  <p>
    <strong>Name:</strong>
    <%= fragrance.name %>
  </p>

  <p>
    <strong>X:</strong>
    <%= fragrance.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= fragrance.y %>
  </p>

</div>
