<h1>Editing fragrance</h1>

<%= render "form", fragrance: @fragrance %>

<br>

<div>
  <%= link_to "Show this fragrance", @fragrance %> |
  <%= link_to "Back to fragrances", fragrances_path %>
</div>
